@model friends
@if(Model.friend.Count>0){
	<h1 style="color:red">MY FRIENDS</h1>
@foreach(var item in Model.friend){
	<h3><a href="/user/index/@item.id">@item.name</a></h3>
	}
}
else
{
	<h3>YOU DO NOT HAVE ANY FRIENDS</h3>
}

<br></br>
<hr></hr>
<h1 style="color:red">RECOMMENDED FRIENDS</h1>
@foreach(var item in Model.recommedtion){
	<h3><a href="/user/index/@item.id">@item.name</a></h3>
}