@model user
<h1><img href="@Model.photo"></img></h1>
<h1>NAME :@Model.name</h1>
<h1>EMAIL :@Model.email</h1>
<h1>CV :@Model.cv_link</h1>
<h1>FACEBOOK :@Model.facebook_link</h1>
<h1>LINKED IN  :@Model.linkedin_link</h1>
<h1>TWEETER :@Model.tweeter_link</h1>

<h1><a href="/me/edit/@Model.id" class="btn btn-primary">EDIT YOUR PROFILE</a> </h1>




